@import "../../global";

.landing {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $fondo;
  z-index: 9999999;
  .landing-barba {
    text-align: center;
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    flex-direction: column;
    align-items: center;

    .landing-image {
      height: 420px;
      width: 420px;
      animation: parpadeo 3s ease-in-out infinite;
      background-image: url("./../../../assets/img/logo_barba.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @include media(sm) {
        height: 320px;
        width: 320px;
      }

      @include media(xs) {
        height: 180px;
        width: 180px;
      }
    }

    button {
      width: max-content;
      text-transform: uppercase;
      margin-top: 40px;
      background-color: orange;
    }
  }

  .spinner-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 600px;
    width: 600px;
    overflow: hidden;
    @include media(sm) {
      height: 500px;
      width: 500px;
    }

    @include media(xs) {
      height: 300px;
      width: 300px;
    }
    .spinner1 {
      position: absolute;
      border-radius: 50%;
      height: 584px;
      width: 584px;
      top: 50%;
      left: 50%;
      border: 8px solid rgba(0, 0, 0, 0);
      border-top-color: $amarillo;
      animation: PreloaderSpin 2s linear infinite;
      @include media(sm) {
        height: 484px;
        width: 484px;
      }
      @include media(xs) {
        height: 250px;
        width: 250px;
        border-width: 5px;
      }
    }

    .spinner2 {
      position: absolute;
      border-radius: 50%;
      height: 500px;
      width: 500px;
      top: 50%;
      left: 50%;
      border: 8px solid rgba(0, 0, 0, 0);
      border-top-color: $naranja;
      animation: PreloaderSpin 1s linear infinite;
      @include media(sm) {
        height: 400px;
        width: 400px;
      }
      @include media(xs) {
        height: 220px;
        width: 220px;
        border-width: 5px;
      }
    }
  }
}

@keyframes parpadeo {
  0% {
    opacity: 0.6;
  }

  40%,
  60% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes PreloaderSpin {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
