<div class="landing">
  <div class="landing-barba">
    <div class="landing-image"></div>
  </div>
  <div class="spinner-group">
    <div class="spinner1"></div>
    <div class="spinner2"></div>
  </div>
</div>
