@import "../../global";

.twitch {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-image: url("./../../../assets/img/fondo_twitch.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.5);

  iframe {
    margin: 20px;
  }

  .twitch-stream {
    @include panoramico(1000px);

    @include media(lg) {
      @include panoramico(850px);
    }
    @include media(md) {
      @include panoramico(650px);
    }

    @include media(sm) {
      @include panoramico(450px);
    }
    @include media(xs) {
      @include panoramico(340px);
    }
  }
}
