<div class="twitch">
  <iframe class="multimedia twitch-stream mat-elevation-z8"
          [src]="srcStream"
          frameborder="0"
          allowfullscreen="true"
          scrolling="no"></iframe>

  <iframe class="multimedia mat-elevation-z8"
          [src]="srcChat"
          frameborder="0"
          scrolling="no"
          height="500"
          width="350"></iframe>
</div>