<div class="cookies-banner"
     [ngClass]="{'ocultar-banner': ocultarBanner}">


  <div class="cookie-mensaje mat-elevation-z2">
    <button mat-icon-button
            (click)="cerrarBanner()">
      <mat-icon>clear</mat-icon>
    </button>
    <p>Esta página web utiliza cookies, para saber más dale a la barbita.</p>
  </div>
  <img src="./../../../assets/img/barba.png"
       alt=""
       (click)="cerrarBanner()"
       [routerLink]="['/cookies']">
</div>