@import "../../global";

.cookies-banner {
  position: fixed;
  z-index: 20;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  animation: cookiesIn 600ms cubic-bezier(0.4, 1, 0.7, 1.35) forwards;

  .cookie-mensaje {
    background-color: white;
    box-sizing: border-box;
    padding: 16px 20px;
    border-radius: 10px;
    padding-right: 120px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    align-items: center;

    button {
      margin: 0px 8px;
    }

    p {
      margin: 0;
    }
  }
  img {
    width: 120px;
    position: absolute;
    right: 0;
    bottom: 0;
    outline: none;
    cursor: pointer;
  }

  &.ocultar-banner {
    animation: cookiesOut 600ms cubic-bezier(0.3, -0.35, 0.6, 0) forwards;
  }
}

@keyframes cookiesIn {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes cookiesOut {
  0% {
    bottom: 30px;
  }

  100% {
    bottom: -200px;
  }
}
