@import "../../global";

.footer {
  background-color: $fondo-oscuridad;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  padding: 16px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  position: relative;

  .redes {
    button {
      background-color: white;
      margin: 10px;
    }
  }
  .enlaces {
    a {
      color: white;
      font-size: 0.8em;
    }
  }
  p {
    margin-bottom: 0px;
  }
  .version {
    position: absolute;
    font-size: 12px;
    bottom: 16px;
    right: 16px;
  }
}
