<div class="footer">
  <div class="redes">
    <button mat-fab
            *ngFor="let item of redes"
            (click)="goToRRSS(item)">
      <mat-icon>
        <img src="./../../../assets/img/{{ item.icono }}.svg"
             alt="" />
      </mat-icon>
    </button>
  </div>

  <p>SirBarbas © 2020</p>
  <span class="version">v {{ version }}</span>
</div>