<div class="menu">
  <div class="header-logo">
    <img src="./../../../assets/img/logo_letra.png"
         alt=""
         (click)="goToLanding()" />
  </div>
  <div class="header-links"
       [ngClass]="{ abierto: abierto }"
       #menu>

    <a [routerLink]="['/quien-soy']"
       routerLinkActive="link-active">
      ¿Quien Soy?
    </a>
    <a [routerLink]="['/lore']"
       routerLinkActive="link-active">
      Lore
    </a>
    <a [routerLink]="['/ranking']"
       routerLinkActive="link-active">
      Ranking
    </a>
    <a [routerLink]="['/twitch']"
       routerLinkActive="link-active">
      Twitch
    </a>
    <a href="https://www.amazon.es/shop/sirbarbas"
       target="_blank">
      Amazon
    </a>
    <a href="https://www.positivos.com/user/sirbarbas/"
       target="_blank">
      Tienda
    </a>

  </div>


  <div class="burger"
       (click)="clickBurger()"
       [ngClass]="{ abierto: abierto }">
    <div class="palo"></div>
    <div class="palo"></div>
    <div class="palo"></div>
    <div class="click-burger"
         #burger></div>
  </div>
</div>

<div class="espaciado"></div>