@import "../../global";

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .header-logo {
    text-align: center;

    img {
      height: 80px;
      margin: 16px 0px;
      cursor: pointer;
    }
  }
  .header-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    a {
      text-decoration: none;
      color: black;
      padding: 15px 30px;
      font-size: 20px;
      position: relative;
      text-transform: uppercase;

      @include media(lg) {
        padding: 10px 20px;
        font-size: 18px;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        transition: all 0.2s ease-in-out;
        left: 0;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, 0);
        transform: scaleX(0);
      }
      &:after {
        top: 0;
      }
      &:before {
        bottom: 0;
      }

      &:hover:before,
      &:hover:after {
        background: black;
        transform: scaleX(1);
      }
    }

    a {
      &.link-active {
        &:before,
        &:after {
          background: black;
          transition: none;
          transform: scaleX(1);
        }
      }
    }
  }

  .burger {
    display: none;
    @include media(sm) {
      display: block;
    }
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    top: 25px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    z-index: 11;
    cursor: pointer;

    .click-burger {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 20;
    }

    .palo {
      width: 40px;
      height: 6px;
      background-color: black;
      border-radius: 5px;
      margin: 5px 0px;
      position: absolute;
      transition: all 0.2s ease-in-out;
    }
    :nth-child(1) {
      top: 0;
    }
    :nth-child(2) {
      top: 12px;
    }
    :nth-child(3) {
      top: 24px;
    }

    &.abierto {
      position: block;

      :nth-child(1) {
        top: 12px;
        transform: rotate(45deg);
      }
      :nth-child(2) {
        transform: translateX(200px);
      }
      :nth-child(3) {
        top: 12px;
        transform: rotate(-45deg);
      }
    }
  }

  @include media(sm) {
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: $fondo;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 90px;

    .header-logo {
      img {
        height: 70px;
        margin: 10px 0px;
      }
    }

    .header-links {
      position: fixed;
      right: -280px;
      top: 0px;
      flex-direction: column;
      width: 250px;
      height: 100%;
      text-align: center;
      background-color: $fondo;
      z-index: 1;
      padding-top: 90px;
      justify-content: start;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out;

      &.abierto {
        right: 0px;
      }
    }
  }
}

.espaciado {
  @include media(sm) {
    height: 100px;
  }
}
