<div class="lore">
  <h2>Lore</h2>
  <p>
    Nuestra historia comienza en los tiempos más antiguos, cuando la Luz y la
    Oscuridad eran parte de un todo.
  </p>
  <p>
    Siempre se pensó que este equilíbrio era perfecto, imbatible y eterno, pero
    estaban equivocados, todo tiene su fin.
  </p>
  <p>
    La Oscuridad es insaciable, despreciable y traicionera. Ansiaba desde
    siempre ser libre, destruir todo a su paso y acabar con toda Luz que pudiese
    albergar cada dimensión, cada realidad.
  </p>
  <p>
    La luz, por su parte, tuvo que huir de su planeta natal y guarecerse en una
    lejana estrella llamada Ori.
  </p>
  <p>
    Durante todos estos años, la Luz ha defendido cientos de realidad de las
    hordas de la Oscuridad.
  </p>
  <p>
    En la actualidad, un Caballero de la Orden de la Luz, llamado “SirBarbas” ha
    sido destinado a defender la realidad Nº3, una realidad centrada en un lugar
    conocido como “La Tierra”
  </p>
</div>
<h2 class="acompanar">¿Quieres acompañar a SirBarbas en esta aventura?</h2>
<h2 class="esperamos">Te esperamos!</h2>
<h2 class="txt-temporadas">- temporadas -</h2>
<div class="videos">
  <iframe
    class="multimedia mat-elevation-z8"
    *ngFor="let video of videos"
    width="560"
    height="315"
    [src]="video.url | safe"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<br />
<br />
<app-personajes></app-personajes>
