@import "../../global";

.lore {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  h2 {
    text-transform: uppercase;
    text-align: center;
    color: #505050;
  }
  border-bottom: 1px solid #505050;
}

.videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  iframe {
    margin: 20px;
    @include panoramico(700px);

    @include media(sm) {
      @include panoramico(480px);
    }

    @include media(xs) {
      margin: 10px;
      @include panoramico(340px);
    }
  }
}
.acompanar {
  font-weight: 300;
  text-align: center;
  color: #505050;
  font-size: 40px;
  margin-bottom: 0px;
}
.esperamos {
  font-size: 36px;
  color: #505050;
  text-align: center;
  margin-top: 0px;
}
.txt-temporadas {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
}

@include media(sm) {
  app-personajes {
    display: none;
  }
}
