<!-- <div class="codigo">
  <img src="./../../../../assets/img/rpg/cofre.PNG"
    alt=""
    (click)="openDialog()" />
</div> -->
<div class="rpg-personaje"
     (contextmenu)="onRightClick($event)">
  <!-- <button mat-button (click)="desLog()" class="deslog">DesLog</button> -->


  <div class="contenedor">

    <div class="personaje">
      <div class="nombre">
        <p>{{ personajeInfoEquipado.displayName }}</p>
      </div>
      <div class="stats">

        <div class="nivel">
          <div class="clave texto-titulo">Nivel</div>
          <img src="./../../../../assets/img/rpg/marcapaginas_nivel.png"
               alt="">
          <div class="nivel-num texto-titulo">{{ personajeInfoEquipado.level }}</div>
        </div>


        <div class="stat">
          <div class="clave">Daño:</div>
          <div class="valor">{{ personajeInfoEquipado.damage }}</div>
        </div>

        <div class="stat">
          <div class="clave">Vida:</div>
          <div class="valor">{{ personajeInfoEquipado.health }}</div>
        </div>

        <div class="stat">
          <div class="clave">Armadura:</div>
          <div class="valor">{{ personajeInfoEquipado.armor }}</div>
        </div>

        <div class="stat">
          <div class="clave">Curación:</div>
          <div class="valor">{{ personajeInfoEquipado.curation }}</div>
        </div>

        <div class="stat"
             *ngIf="personajeInfoEquipado.userClass !=''">
          <div class="clave">Clase:</div>
          <div class="valor">{{ personajeInfoEquipado.userClass }}</div>
        </div>

        <div class="stat"
             *ngIf="personajeInfoEquipado.subClass !=''">
          <div class="clave">Subclase:</div>
          <div class="valor">{{ personajeInfoEquipado.subClass }}</div>
        </div>

        <div class="stat">
          <div class="clave">Rango:</div>
          <div class="valor">{{ personajeInfoEquipado.rank }}</div>
        </div>
        <mat-divider>
        </mat-divider>

        <div class="exp">
          <div class="clave">Exp:</div>
          <div class="valor">{{ personajeInfoEquipado.xp | number}}</div>
        </div>

        <div class="dinero">
          <div class="clave">Luz:</div>
          <div class="valor">{{ personajeInfoEquipado.money | number }}</div>
        </div>
      </div>
      <div class="skin">

        <mat-tab-group mat-stretch-tabs
                       class="example-stretched-tabs dibujo"
                       color="accent"
                       [selectedIndex]="skinSeleccionada">
          <mat-tab *ngFor="let tab of equipoLocal.skins"
                   label="Nivel">
            <img [src]="tab.picture"
                 alt="">
          </mat-tab>
        </mat-tab-group>

        <div class="seleccionar"
             *ngIf="skinSeleccionada != -1">
          <div class="izquierda"
               (click)="cambiarSkin(false)">izq</div>
          <div class="nombre-skin">{{ equipoLocal.skins[skinSeleccionada].belongs }}</div>
          <div class="derecha"
               (click)="cambiarSkin(true)">der</div>
        </div>
        <button class="boton"
                *ngIf="skinSeleccionada != -1"
                (click)="equiparSkin()">{{ equipoLocal.skins[skinSeleccionada].skinName == equipoLocal.skin?"Equipado": "Equipar" }}</button>
      </div>


      <div class="equipacion">
        <div class="carta cabeza"
             id="cabeza">
          <img [src]="equipoLocal.cabeza.picture"
               alt=""
               (contextmenu)="clickEquipo('cabeza')"
               (dblclick)="clickEquipo('cabeza')"
               (click)="clickMostrarCarta(equipoLocal.cabeza)"
               *ngIf="equipoLocal.cabeza" />

          <img src="./../../../../assets/img/rpg/inventario/iconos/_cabeza.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.cabeza" />
        </div>

        <div class="carta anillo1"
             id="anillo">
          <img [src]="equipoLocal.anillo1.picture"
               alt=""
               (contextmenu)="clickEquipo('anillo1')"
               (dblclick)="clickEquipo('anillo1')"
               (click)="clickMostrarCarta(equipoLocal.anillo1)"
               *ngIf="equipoLocal.anillo1" />

          <img src="./../../../../assets/img/rpg/inventario/iconos/_anillo.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.anillo1" />
        </div>

        <div class="carta cuello"
             id="cuello">
          <img [src]="equipoLocal.cuello.picture"
               alt=""
               (contextmenu)="clickEquipo('cuello')"
               (dblclick)="clickEquipo('cuello')"
               (click)="clickMostrarCarta(equipoLocal.cuello)"
               *ngIf="equipoLocal.cuello" />

          <img src="./../../../../assets/img/rpg/inventario/iconos/_cuello.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.cuello" />
        </div>

        <div class="carta anillo2"
             id="anillo">
          <img [src]="equipoLocal.anillo2.picture"
               alt=""
               (contextmenu)="clickEquipo('anillo2')"
               (dblclick)="clickEquipo('anillo2')"
               (click)="clickMostrarCarta(equipoLocal.anillo2)"
               *ngIf="equipoLocal.anillo2" />

          <img src="./../../../../assets/img/rpg/inventario/iconos/_anillo.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.anillo2" />
        </div>

        <div class="carta arma1"
             id="arma1">
          <img [src]="equipoLocal.arma1.picture"
               alt=""
               (contextmenu)="clickEquipo('arma1')"
               (dblclick)="clickEquipo('arma1')"
               (click)="clickMostrarCarta(equipoLocal.arma1)"
               *ngIf="equipoLocal.arma1" />

          <img src="./../../../../assets/img/rpg/inventario/iconos/_arma1.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.arma1" />
        </div>

        <div class="carta pecho"
             id="pecho">
          <img [src]="equipoLocal.pecho.picture"
               alt=""
               (contextmenu)="clickEquipo('pecho')"
               (dblclick)="clickEquipo('pecho')"
               (click)="clickMostrarCarta(equipoLocal.pecho)"
               *ngIf="equipoLocal.pecho" />

          <img src="./../../../../assets/img/rpg/inventario/iconos/_pecho.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.pecho" />
        </div>

        <div class="carta arma2"
             id="arma2">
          <img [src]="equipoLocal.arma2.picture"
               alt=""
               (contextmenu)="clickEquipo('arma2')"
               (dblclick)="clickEquipo('arma2')"
               (click)="clickMostrarCarta(equipoLocal.arma2)"
               *ngIf="equipoLocal.arma2" />

          <img src="./../../../../assets/img/rpg/inventario/iconos/_arma2.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.arma2" />
        </div>

        <div class="carta manos"
             id="manos">
          <img [src]="equipoLocal.manos.picture"
               alt=""
               (contextmenu)="clickEquipo('manos')"
               (dblclick)="clickEquipo('manos')"
               (click)="clickMostrarCarta(equipoLocal.manos)"
               *ngIf="equipoLocal.manos" />
          <img src="./../../../../assets/img/rpg/inventario/iconos/_manos.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.manos" />
        </div>

        <div class="carta diploma"
             id="diploma">
          <img [src]="equipoLocal.diploma.picture"
               alt=""
               (contextmenu)="clickEquipo('diploma')"
               (dblclick)="clickEquipo('diploma')"
               (click)="clickMostrarCarta(equipoLocal.diploma)"
               *ngIf="equipoLocal.diploma" />
          <img src="./../../../../assets/img/rpg/inventario/iconos/_diploma.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.diploma" />
        </div>

        <div class="carta pies"
             id="pies">
          <img [src]="equipoLocal.pies.picture"
               alt=""
               (contextmenu)="clickEquipo('pies')"
               (dblclick)="clickEquipo('pies')"
               (click)="clickMostrarCarta(equipoLocal.pies)"
               *ngIf="equipoLocal.pies" />
          <img src="./../../../../assets/img/rpg/inventario/iconos/_pies.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.pies" />
        </div>

        <div class="carta item1"
             id="item">
          <img [src]="equipoLocal.item1.picture"
               alt=""
               (contextmenu)="clickEquipo('item1')"
               (dblclick)="clickEquipo('item1')"
               (click)="clickMostrarCarta(equipoLocal.item1)"
               *ngIf="equipoLocal.item1" />
          <img src="./../../../../assets/img/rpg/inventario/iconos/_item.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.item1" />
        </div>

        <div class="carta item2"
             id="item">
          <img [src]="equipoLocal.item2.picture"
               alt=""
               (contextmenu)="clickEquipo('item2')"
               (dblclick)="clickEquipo('item2')"
               (click)="clickMostrarCarta(equipoLocal.item2)"
               *ngIf="equipoLocal.item2" />
          <img src="./../../../../assets/img/rpg/inventario/iconos/_item.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.item2" />
        </div>

        <div class="carta item3"
             id="item">
          <img [src]="equipoLocal.item3.picture"
               alt=""
               (contextmenu)="clickEquipo('item3')"
               (dblclick)="clickEquipo('item3')"
               (click)="clickMostrarCarta(equipoLocal.item3)"
               *ngIf="equipoLocal.item3" />
          <img src="./../../../../assets/img/rpg/inventario/iconos/_item.png"
               alt=""
               class="hueco_icono"
               *ngIf="!equipoLocal.item3" />
        </div>
      </div>

      <!-- <button mat-icon-button
              color="accent"
              class="btn-guardar-lore-state">
        <mat-icon class="btn-guardar-lore-state"
                  *ngIf="personajeInfo.loreState == rpg.LORESTATE_VERIFICADO">done</mat-icon>
        <mat-icon class="btn-guardar-lore-state"
                  *ngIf="personajeInfo.loreState == rpg.LORESTATE_BLOQUEADO">lock</mat-icon>
        <mat-icon class="btn-guardar-lore-state"
                  *ngIf="personajeInfo.loreState == rpg.LORESTATE_PENDIENTE">flag</mat-icon>
      </button>
      <button mat-icon-button
              *ngIf="loreEditar && personajeInfo.loreState != rpg.LORESTATE_BLOQUEADO"
              color="accent"
              class="btn-guardar-lore"
              (click)="guardarLore()">
        <mat-icon>save</mat-icon>
      </button> -->
      <textarea class="lore-textarea"
                placeholder="Introduce tu lore:"
                [(ngModel)]="personajeInfo.lore"
                (input)="editarLore()"
                [disabled]="personajeInfo.loreState == rpg.LORESTATE_BLOQUEADO"></textarea>

    </div>

    <div class="inventario">
      <div class="carta"
           *ngFor="let item of equipoLocal.inventario"
           (contextmenu)="clickInventario(item)"
           (dblclick)="clickInventario(item)"
           (click)="clickMostrarCarta(item)">
        <img [src]="item.picture"
             alt="" />
      </div>
    </div>



  </div>

</div>





<div class="contenedor-mostrar-carta"
     [ngClass]="{'mostrar-carta-opacity':mostrarCarta && !quitarCartaClass,'quitar-carta-opacity':quitarCartaClass}"
     *ngIf="mostrarCarta"
     (click)="quitarCarta()">
  <img [src]="mostrarCarta.card"
       alt=""
       class="mostrar-carta">
</div>