@import "../../../global";

@font-face {
  font-family: "Lemon Milk";
  src: url(src/assets/fonts/LEMONMILK-Regular.otf);
}

$rpg-titulos: #debc83;

* {
  user-select: none;
}

.codigo {
  width: 100%;
  img {
    height: 60px;
    cursor: pointer;
  }
}

.rpg-personaje {
  padding: 20px 0px;
  font-family: "Lemon Milk";
  display: flex;
  justify-content: center;

  input,
  button,
  select,
  textarea,
  mat-form-field {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  @include media(lg) {
    // padding: 0% 10%;
  }

  @include media(md) {
    // padding: 0% 3%;
  }

  @include media(sm) {
    // padding: 0% 2%;
  }

  @include media(xs) {
    // padding: 0% 1%;
  }

  .deslog {
    background-color: $twitch;
    color: white;
  }

  .contenedor {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-image: url("./../../../../assets/img/rpg/fondo.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    @include panoramico(1200px);

    .carta {
      height: 100px;
      width: 80px;
      margin: 10px;
    }

    .nombre {
      width: 100%;

      p {
        color: $rpg-titulos;
        margin: 0;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
      }
      margin-bottom: 24px;
    }

    .personaje {
      border: 1px solid red;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      height: 630px;
      width: 550px;
      margin-left: 30px;
      margin-top: 25px;
      box-sizing: border-box;

      .texto-titulo {
        color: $rpg-titulos;
      }

      .stats {
        width: 200px;
        border-radius: 10px;
        padding: 4px;
        box-sizing: border-box;
        background-color: rgba(206, 206, 206, 0.6);
        border: 5px solid rgba(128, 110, 101, 0.7);
        height: fit-content;

        .nivel,
        .dinero {
          background-color: #4d4a47;
          box-shadow: 0px 0px 1px 1px rgba(77, 74, 71, 1);
          border-radius: 1px;
          text-align: right;
          font-weight: bold;
          padding: 4px 8px;
        }

        .nivel {
          font-size: 32px;
          margin-bottom: 40px;
          position: relative;

          img {
            width: 60px;
            position: absolute;
            top: -9px;
            left: 0px;
          }
          .nivel-num {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%) translateX(-50%);
          }
        }

        .exp {
          font-size: 14px;
        }

        .dinero {
          color: #a09ea1;
          display: flex;
          align-items: center;
          height: 32px;

          .clave {
            border-right: 2px solid #a09ea0;
            padding-right: 5px;
          }

          .valor {
            flex: 1;
          }
        }

        .stat,
        .exp {
          padding: 4px;
          font-weight: bold;
          display: flex;
          justify-content: space-between;

          .clave,
          .valor {
            display: inline-block;
          }

          .valor {
            text-align: right;
            color: #5a494c;
          }
        }

        mat-divider {
          margin: 10px 0px;
        }
      }

      .skin {
        height: 400px;
        width: 250px;
        padding: 20px;
        text-shadow: 0px 0px 4px rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.144);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        box-sizing: border-box;

        .dibujo {
          .mat-tab-header {
            display: none;
          }

          img {
            height: 250px;
          }
        }

        .seleccionar {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0px 20px;
          width: 100%;
          box-sizing: border-box;

          .nombre-skin {
            font-size: 30px;
          }
        }

        .boton {
          border: none;
          background-image: url("./../../../../assets/img/rpg/boton.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 180px;
          height: 60px;
          border-radius: 10px;
          background-color: transparent;
          // text-shadow: 0px 0px 1px rgb(255, 255, 255);
          font-size: 24px;
          font-weight: bold;
          user-select: none;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }
      }
      .equipacion {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0px;

        .carta {
          margin: 5px;
          background-image: url("./../../../../assets/img/rpg/hueco_item.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;

          img {
            height: 65px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.hueco_icono {
              opacity: 0.15;
              height: 50px;
              cursor: auto;
            }
          }
        }

        .cabeza {
          width: 100%;
        }
      }

      .lore-textarea {
        height: 150px;
        box-sizing: border-box;
        width: 500px;
        border: 5px solid rgba(136, 85, 64, 0.712);
        background-color: rgba(202, 202, 202, 0.664);
        border-radius: 12px;
        color: white;
        outline: none;
      }

      .lore {
        width: 90%;
        height: 200px;
        text-align: center;
        position: relative;
        box-sizing: border-box;

        button {
          margin: 0px 10px;
        }

        .btn-guardar-lore-state {
          position: absolute;
          top: 10px;
          right: 10px;
        }

        .btn-guardar-lore {
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }
    }

    .inventario {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 540px;
      height: 200px;
      align-content: flex-start;
      overflow-y: auto;

      @include media(sm) {
        width: 90%;
      }
    }

    .carta {
      width: 80px;
      height: 80px;
      padding: 20px 10px;
      color: rgba(255, 255, 255, 0.87);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      position: relative;
      font-size: 14px;

      img {
        cursor: pointer;
        height: 80px;
      }
    }
  }
}

.contenedor-mostrar-carta {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);

  .mostrar-carta {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    z-index: 1;
    max-width: 80%;
    max-height: 80%;
  }

  &.mostrar-carta-opacity {
    animation: aparecer 0.3s;
  }

  &.quitar-carta-opacity {
    animation: desaparecer 0.3s;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes desaparecer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
