<div class="avatar">
  <img src="./../../../assets/img/quien_soy.jpg"
    alt=""
    class=" mat-elevation-z8" />
  <div class="nombre">
    <h2>Juan Álvaro Reche Oliver</h2>
    <p>CREADOR DE CONTENIDO</p>
  </div>
</div>

<mat-accordion class="acordeon">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Quien soy?
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>Mi nombre es Juan Álvaro, nací en Almería un frío 7 de Enero de 1986.</p>
    <p>
      Durante toda mi infancia me consideré un niño con muchísima imaginación.
      Esta cualidad me llegó a crear mil y un mundo de historias de fantasía,
      pero a su vez, se convirtió en un problema al querer permanecer más en mis
      sueños que en la propia realidad.
    </p>
    <p>
      Con los años, aprendí a diferenciar estos dos mundos y a quedarme con lo
      mejor de ambas realidades.
    </p>
    <p>
      Gracias a todas estas vivencias, a día de hoy me considero un creador de
      sueños, es decir, un creador de contenido que permite al espectador vivir
      cada una de las aventuras que vamos compartiendo a diario.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Cómo nació este proyecto?
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      En mi infancia, a raíz de un suceso, mi mente creó una barrera llamada
      “Tartamudez”. Durante toda mi vida, este trastorno del habla me ha
      acompañado, convirtiendo acciones diarias que implicaban interacción con
      otra persona en un verdadero reto.
    </p>
    <p>
      La tartamudez se convirtió en un problema de mi día a día, me acompañaba a
      todas horas. Me limitaba en casi todos los ámbitos de mi vida, incluso
      pedir un vaso de agua en un bar se convertía en un serio problema.
    </p>
    <p>
      Durante el “boom” de Youtube, siempre miré con cierta tristeza e
      impotencia a todos esos creadores de contenido que se exponían delante de
      una cámara y no tartamudeaban. Siempre pensé, ¿por qué no intentarlo? Pero
      mi tartamudez no me dejaba avanzar más allá de un “ojalá”.
    </p>
    <p>
      Un día normal, como otro cualquiera, mi cabeza dijo :
    </p>
    <p>
      “Ese ojalá, es hoy”
    </p>
    <p>
      Cogí un micrófono y pensé “Ha llegado el momento, es hora de enfrentarse a
      mis miedos”
    </p>
    <p>
      Todo comenzó subiendo vídeos a Youtube. Elegí esta plataforma porque al
      ser una plataforma de vídeo pregrabado me sentía mucho más cómodo al
      editar toda la voz/vídeo haciendo que mi voz sonase “normal”, aunque he de
      reconocer que para grabar un simple texto de 2 líneas podía tardar más de
      2 horas… Ya sabéis lo malo que puede llegar a ser el poder mental cuando
      no se utiliza de una forma beneficiosa.
    </p>
    <p>
      Trás meses subiendo contenido a Youtube, me di cuenta que hacer vídeos era
      divertido, pero quería algo más. A partir de ese momento comencé a hacer
      directos en dicha plataforma hasta que tras unos meses salté
      definitivamente a la plataforma Twitch, donde todo comenzó.
    </p>
    <p>
      Durante meses estuve haciendo directos sin horarios, sin objetivos, tan
      solo por pasar un buen rato y luchar contra mi tartamudez. A lo largo de
      todo este tiempo mi habilidad comunicativa mejoró muchísimo, me sentía
      mucho más cómodo delante de la cámara, incluso fui capaz de aceptar, por
      fin, mi tartamudez y con el tiempo se ha convertido en una cualidad de mi
      persona, algo que me acompañará toda mi vida y que ya no me condiciona
      como lo hacía en antaño.
    </p>
    <p>
      Tras tantas batallas (ganadas), sentía que podíamos hacer “algo más” y es
      así como nació “Sir Barbas y La Orden de La Luz”, siempre tuve mucha
      imaginación, ¿por qué no utilizarla en los streams?
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿En qué consiste?
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      Una de las características más importantes de mi contenido es la
      interacción con los viewers. Desde siempre pensé que el buen contenido es
      aquel que crea una simbiosis entre el creador y el espectador.
    </p>
    <p>
      Mi contenido está muy enfocado al respeto, empatía y sobre todo a la
      lucha, defensa y enseñanza de valores que bajo mi punto de vista se han
      perdido en la sociedad (Y a su vez, usar estos valores para enseñarlos en
      mi propia comunidad gracias a mis estudios en educación social). Por ello,
      uno de mis objetivos es conseguir que cada persona que entre en la
      comunidad convierta este lugar en el sitio donde pueda ser ella misma sin
      sentirse juzgado por nadie.
    </p>
    <p>
      A raíz de esto, quise introducir un “Lore” dentro del canal para que los
      espectadores pudieran sentirse parte viva de cada uno de los streams y a
      su vez, que sus propias decisiones e interacciones puedan influir de una
      manera real en cada uno de los pasos que vamos dando con el canal.
    </p>
    <p>
      “Sir Barbas y La Orden de La Luz” narra la eterna lucha de la luz y la
      oscuridad, ¿quién no se ha enfrentado alguna vez al ejército de la
      Oscuridad?
    </p>
  </mat-expansion-panel>
</mat-accordion>