@import "../../global";

.avatar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  img {
    height: 200px;
    border-radius: 10px;
  }

  .nombre {
    padding: 20px;

    h2 {
      margin: 0px;
      font-size: 35px;
    }

    p {
      margin: 0px;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #bfbfbf;
    }
  }
}

.acordeon {
  mat-expansion-panel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;

    @include media(sm) {
      width: 90%;
    }
    @include media(xs) {
      width: 95%;
    }
  }
  mat-panel-title {
    text-transform: uppercase;
    font-size: 20px;
    @include media(sm) {
      font-size: 18px;
    }
    @include media(xs) {
      font-size: 17px;
    }
  }
  p {
    font-size: 16px;
  }
}
