<div class="cookies">

  <h1>Políticas de Cookies</h1>
  <h2>¿Qué son las cookies?</h2>
  <p>
    Una <a href="https://es.wikipedia.org/wiki/Cookie_(informática)">cookie</a> es un fichero que se descarga en su ordenador o el dispositivo que utilice (teléfono inteligente, tableta, televisión inteligente….) al acceder a determinadas páginas web o aplicaciones. Las cookies permiten, entre otras cosas, recopilar información estadística, facilitar ciertas funcionalidades técnicas, almacenar y recuperar información sobre los hábitos de navegación o preferencias de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.
  </p>

  <h2>¿Cómo puedo configurar mis cookies?</h2>
  Dado que las cookies no son necesarias para el uso de nuestro sitio web, puede bloquearlas o deshabilitarlas activando la configuración de su navegador, que le permite rechazar la instalación de todas las cookies o de algunas de ellas. La práctica mayoría de los navegadores permiten advertir de la presencia de cookies o rechazarlas automáticamente. Si las rechaza podrá seguir usando nuestro sitio web, aunque el uso de algunos de sus servicios podrá ser limitado y por tanto su experiencia en nuestro sitio web menos satisfactoria.

  A continuación te indicamos los enlaces de los principales navegadores y dispositivos para que dispongas de toda la información necesaria para gestionar las cookies en tu navegador:

  <p><strong>Firefox: </strong> <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we">support.mozilla.org</a></p>
  <p><strong>Internet Explorer: </strong> <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">support.microsoft.com</a></p>
  <p><strong>Microsoft Edge: </strong> <a href="https://privacy.microsoft.com/es-es/windows-10-microsoft-edge-and-privacy">privacy.microsoft.com</a></p>
  <p><strong>Chrome: </strong> <a href="https://support.google.com/chrome/answer/95647?hl=es">support.google.com</a></p>
  <p><strong>Safari: </strong> <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac">support.apple.com</a></p>
</div>