<div class="personajes">
  <div class="titulo-personajes luz">
    <h2>La orden de la luz</h2>
  </div>
  <div class="carrusel mat-elevation-z8">
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="false"
      interval="5000"
      color="accent"
      maxWidth="auto"
      proportion="50"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="false"
      [useMouseWheel]="false"
      orientation="ltr"
    >
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slidesLuz; let i = index"
        overlayColor="{{ slide.fondo }}"
        [hideOverlay]="false"
      >
        <div class="slide">
          <div
            class="slide-imagen"
            [ngStyle]="{
              'background-image': 'url(' + slide.imagen + ')',
              order: alineacion(slide.float)
            }"
          ></div>
          <div class="slide-texto">
            <h2>{{ slide.titulo }}</h2>
            <p>{{ slide.texto }}</p>
          </div>
        </div>
      </mat-carousel-slide>
    </mat-carousel>
  </div>

  <div class="titulo-personajes oscuridad">
    <h2>La orden de la oscuridad</h2>
  </div>

  <div class="carrusel mat-elevation-z8">
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="false"
    interval="5000"
    color="accent"
    maxWidth="auto"
    proportion="50"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="false"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slidesOscuridad; let i = index"
      overlayColor="{{ slide.fondo }}"
      [hideOverlay]="false"
    >
      <div class="slide">
        <div
          class="slide-imagen"
          [ngStyle]="{
            'background-image': 'url(' + slide.imagen + ')',
            order: alineacion(slide.float)
          }"
        ></div>
        <div class="slide-texto">
          <h2>{{ slide.titulo }}</h2>
          <p>{{ slide.texto }}</p>
        </div>
      </div>
    </mat-carousel-slide>
  </mat-carousel>
  </div>
</div>
