@import "../../../global";

.personajes {
  padding: 20px;
  text-align: center;

  .carrusel {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    .slide {
      height: inherit;
      display: flex;
      align-items: center;
      padding: 0px 60px;

      .slide-texto {
        width: 60%;
        order: 2;

        h2 {
          font-size: 30px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 6px;

          @include media(md) {
            font-size: 25px;
            letter-spacing: 5px;
          }
          @include media(sm) {
            font-size: 20px;
            letter-spacing: 4px;
          }
          @include media(xs) {
            font-size: 15px;
            letter-spacing: 5px;
          }
        }

        p {
          font-size: 16px;

          @include media(md) {
            font-size: 15px;
          }
          @include media(sm) {
            font-size: 14px;
          }
          @include media(xs) {
            font-size: 13px;
          }
        }
      }

      .slide-imagen {
        width: 40%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .titulo-personajes {
    border-width: 3px;
    border-style: solid;
    max-width: 700px;
    margin: 32px auto;
    border-radius: 10px;
    padding: 10px;

    &.luz {
      border-color: white;
      box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
      background-color: white;
      color: black;
    }

    &.oscuridad {
      border-color: black;
      box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
      background-color: black;
      color: white;
    }

    h2 {
      font-size: 32px;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      margin: 0px;

      @include media(md) {
        font-size: 28px;
        letter-spacing: 7px;
      }

      @include media(sm) {
        font-size: 24px;
        letter-spacing: 6px;
      }
      @include media(xs) {
        font-size: 16px;
        letter-spacing: 4px;
      }
    }
  }
}
