<div class="container">
  <barba-header *ngIf="mostrarHeader()"></barba-header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <barba-stream *ngIf="mostrarStream()"></barba-stream>
  <barba-footer *ngIf="mostrarFooter()"></barba-footer>
</div>