$amarillo: #f4d500;
$naranja: #e8ac2b;
$fondo: #ebebeb;
$fondo-oscuridad: #2e2e2e;
$fondo-personaje: #594858;
$twitch: #9146ff;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Sans-serif;
  background-color: $fondo;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: $naranja;
  border-radius: 5px;
}

.multimedia {
  border: none;
  border-radius: 10px;
}

@mixin panoramico($ancho) {
  width: $ancho;
  height: $ancho * 9 /16;
}

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1300px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-xs) {
      @content;
    }
  } @else if $media == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $media == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $media == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
}

.mat-tab-label {
  font-size: 20px;
}

.mat-form-field-label {
  color: white !important;
}
