@import "../../global";

.ranking {
  padding: 10px;
  .tabla {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: white;

    .tabla-cabecera,
    .tabla-cuerpo > .fila {
      padding: 10px;
      div {
        display: inline-block;
      }
      .col-1,
      .col-3 {
        width: 20%;
      }
      .col-2 {
        width: 60%;
      }
    }

    .tabla-cabecera {
      border-bottom: 1px solid #cccccc;
    }

    .fila:not(:last-child) {
      border-bottom: 1px solid #cccccc;
    }
    .fila:nth-child(1) {
      background-color: rgba(255, 217, 0, 0.2);
    }
    .fila:nth-child(2) {
      background-color: rgba(192, 192, 192, 0.2);
    }
    .fila:nth-child(3) {
      background-color: rgb(165, 87, 42, 0.2);
    }

    mat-spinner {
      margin: 50px auto;
    }
  }

  p,
  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-size: 40px;
    font-weight: 400;
  }

  .subtitulo {
    font-size: 24px;
  }
  .sub-tabla {
    font-size: 14px;
    font-weight: 500;
    span {
      color: $naranja;
      cursor: pointer;
    }
  }
}
