<div class="ranking">
  <h2>Ejercito de la orden de la luz</h2>
  <p class="subtitulo">
    Listado de todas las barbitas junto a sus puntos de luz
  </p>

  <div class="tabla mat-elevation-z8">
    <mat-tab-group mat-stretch-tabs
                   class="example-stretched-tabs"
                   color="accent">

      <mat-tab label="Nivel">
        <div class="tabla-cabecera">
          <div class="col-1">Top</div>
          <div class="col-2">Nombre</div>
          <div class="col-3">Nivel</div>
        </div>
        <div class="tabla-cuerpo">
          <div class="fila"
               *ngFor="let item of rankingNivel | slice: 0:10; let i = index">
            <div class="col-1">{{ i + 1 }}</div>
            <div class="col-2">{{ item.displayName }}</div>
            <div class="col-3">{{ item.level }}</div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Puntos">
        <div class="tabla-cabecera">
          <div class="col-1">Top</div>
          <div class="col-2">Nombre</div>
          <div class="col-3">Puntos</div>
        </div>
        <div class="tabla-cuerpo">
          <div class="fila"
               *ngFor="let item of rankingPuntos | slice: 0:10; let i = index">
            <div class="col-1">{{ i + 1 }}</div>
            <div class="col-2">{{ item.displayName }}</div>
            <div class="col-3">{{ item.money }}</div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Puntos Totales">
        <div class="tabla-cabecera">
          <div class="col-1">Top</div>
          <div class="col-2">Nombre</div>
          <div class="col-3">Puntos</div>
        </div>
        <div class="tabla-cuerpo">
          <div class="fila"
               *ngFor="let item of rankingPuntosMes | slice: 0:10; let i = index">
            <div class="col-1">{{ i + 1 }}</div>
            <div class="col-2">{{ item.displayName }}</div>
            <div class="col-3">{{ item.moneyEarned }}</div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <mat-spinner class="example-margin"
                 color="accent"
                 *ngIf="cargando">
    </mat-spinner>
  </div>
</div>