@import "../../global";

.stream {
  text-align: center;
  h2 {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
  }

  iframe {
    @include panoramico(700px);

    @include media(sm) {
      @include panoramico(480px);
    }
    @include media(xs) {
      @include panoramico(340px);
    }
  }
}
