<div class="stream">
  <h2>¿Estamos en directo?</h2>
  <iframe class="multimedia mat-elevation-z8"
          [src]="srcStream"
          frameborder="0"
          allowfullscreen="true"
          scrolling="no"></iframe>
</div>