@import "../../../global";

.contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
  }

  .twitch-boton {
    margin-top: 50px;
    padding: 15px 30px;
    background-color: $twitch;
    color: #f0f0ff;
    font-size: 20px;
    width: fit-content;
    img {
      height: 40px;
      margin-right: 15px;
    }
  }
}
