<div class="codigo-dialog">
  <h2 mat-dialog-title class="titulo">Activar Clave</h2>
  <mat-dialog-content class="mat-typography">
    <div class="llave-cofre">
      <img
        src="./../../../../assets/img/rpg/plantilla_recompensa.png"
        alt=""
        class="recompensa"
        [ngClass]="{'mostrar-carta':cartaMostrar}"
      />
      <img
        src="./../../../../assets/img/rpg/cofre.PNG"
        alt=""
        class="cofre"
      />
      <div class="llave">
        <img
          src="./../../../../assets/img/rpg/key.PNG"
          alt=""
          [ngClass]="{'llave-aparecer':llaveAparecer, 'llave-click':llaveClick, 'llave-girar':llaveGirar}"
          (click)="clickLlave()"
        />
      </div>
    </div>
    <p>85567e4e-80f8-49fe-a5f1-8b6e1ce767b4</p>
    <div class="activar-clave">
      <input
        type="text"
        placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        maxlength="36"
        [ngModel]="clave"
        (input)="keyPress($event)"
      />
    </div>
  </mat-dialog-content>
</div>
