@import "../../global";

.codigo-dialog {
  min-width: 500px;
  text-align: center;

  .titulo {
    font-size: 30px;
  }
  mat-dialog-content {
    padding-top: 20px;
    overflow: hidden;

    .recompensa {
      position: absolute;

      top: 75%;
      left: 50%;
      opacity: 0;
      height: 100px;
      width: 70px;
      transform: translateX(-50%);
      transition: all 2s ease-in-out;
      z-index: 1;
      &.mostrar-carta {
        top: 0%;
        height: 300px;
        width: 210px;
        opacity: 1;
      }
    }

    .llave-cofre {
      position: relative;
      width: 350px;
      margin: 0 auto;
      .llave {
        height: 100%;
        width: 102px;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;

        // &:hover {
        //   animation: wiggle 0.6s linear;
        // }
        img {
          height: 70px;
          position: absolute;
          top: 130px;
          left: 0px;
          opacity: 0;
          transition: all 2s ease-in-out;
          cursor: pointer;
          &.llave-click {
            top: 105px;
            left: 50px;
            animation: none;
          }
          &.llave-girar {
            transform: rotateX(60deg);
          }
        }

        .llave-aparecer {
          opacity: 1;
          transition: all 1s ease;
          animation: wiggle 1.5s infinite;
        }
      }
      .cofre {
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 50px;
      }
    }
    .activar-clave {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      overflow-y: hidden;
      input {
        border: none;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        height: fit-content;
        padding: 8px 16px;
        font-size: 17px;
        max-width: 300px;
        margin-right: 20px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          opacity: 0.5;
        }
      }
    }
  }

  @include media(sm) {
    min-width: 0px;
    .cofre {
      width: 90%;
    }
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
